/*
 * Copyright (c) 2022 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/ {
	chosen {
		nordic,nus-uart = &uart0;
	};
};

&arduino_header {
	gpio-map = <0 0 &gpio0 3 0>,
			<1 0 &gpio0 4 0>,
			<2 0 &gpio0 28 0>,
			<3 0 &gpio0 29 0>,
			<4 0 &gpio0 30 0>,
			<5 0 &gpio0 31 0>,
			<6 0 &gpio0 11 0>,
			<7 0 &gpio0 12 0>,
			<8 0 &gpio0 13 0>,
			<9 0 &gpio0 14 0>,
			<10 0 &gpio0 15 0>,
			<11 0 &gpio0 16 0>,
			<12 0 &gpio0 17 0>,
			<13 0 &gpio0 18 0>,
			<14 0 &gpio0 19 0>,
			<15 0 &gpio0 20 0>,
			<16 0 &gpio0 22 0>,
			<17 0 &gpio0 23 0>,
			<18 0 &gpio0 24 0>,
			<19 0 &gpio0 25 0>,
			<20 0 &gpio0 26 0>,
			<21 0 &gpio0 27 0>;
};

&arduino_adc {
	io-channel-map = <0 &adc 1>, <1 &adc 2>, <2 &adc 4>, <3 &adc 5>, <4 &adc 6>, <5 &adc 7>;
};
